---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: ips-quota
  namespace: ips-system
  labels:
    app: ips
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    pods: "50"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: ips-limits
  namespace: ips-system
  labels:
    app: ips
spec:
  limits:
    - max:
        cpu: "2"
        memory: 4Gi
      min:
        cpu: 10m
        memory: 16Mi
      default:
        cpu: 500m
        memory: 512Mi
      defaultRequest:
        cpu: 100m
        memory: 128Mi
      type: Container
