---
apiVersion: v1
kind: Service
metadata:
  name: ips-apiserver
  namespace: ips-system
  labels:
    app: ips
    component: apiserver
spec:
  type: ClusterIP
  selector:
    app: ips
    component: apiserver
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  sessionAffinity: None
